.center_div {
  background-color: #f4f4f4;
  display: inline-block;
  background-color: white;
  min-width: 347px;
  min-height: 798px;
}

.main_div {
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: #f4f4f4;
}

.head {
  margin-top: 60px;
}

.heading {
  font-weight: bolder;
  padding-bottom: 10px;
  font-size: 32px;
  position: absolute;
}

.img {
  margin-top: 67px;
  margin-left: 179px;
  height: 25px;
  width: 22px;
}

.cancel {
  padding-right: 320px;
  color: #006cff;
  background-color: white;
}
.done {
  color: #006cff;
  background-color: white;
}
